<div class="wrapper">
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">

<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1>Attendance Table</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item"><a href="javascript:void(0);" routerLink="/attendancelist">Attendance List</a></li>
</ol>
</div>
</div>
</div>
</section>


<section class="content">
<div class="container-fluid  shadow-lg p-3 mb-5 bg-body rounded">


<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header">
  <form (ngSubmit)="clockInOut()" >
  <button type="submit" class="btn btn-primary"  >{{attendance.inTime? (attendance.outTime? 'Submit' : 'Clock Out') : 'Clock In' }}</button>
</form>

<div class="card-tools">

</div>
</div>

<div class="card-body col-sm-6 col-md-12 "  style="overflow-x: auto">
<table class="table table-hover text-nowrap">
<thead>
<tr>
    <th>Date</th>
    <th>In Time</th>
    <th>Out Time</th>
    <th>Total Hours</th>
    <th>status</th>
</tr>
</thead>
<tbody>
<tr >
  <td>{{ attendance.date }}</td>
  <td>{{ attendance.inTime }}</td>
  <td >{{ attendance.outTime }}</td>
  <td >{{ attendance.totalHours }}</td>
  
  <td>
    <div class="form-group">
      <textarea class="form-control" name="status" cols="5" rows="2" placeholder="Today's Work Status.." [(ngModel)]="attendance.status" #status="ngModel" required minlength="15"></textarea>
      <span class="text-danger" *ngIf="this.submit && status.errors?.['required'] ">
        Status is required...
    </span>
      <span class="text-danger" *ngIf="this.submit && status.errors?.['minlength'] ">
        Minimum length of Status is 15 characters..
    </span>
  </div>
  
      
    
  </td>
  

  

 
</tr>

</tbody>
</table>
</div>
</div>
</div>
</div>


</div>
</section>
</div>
<app-footer></app-footer>
</div>






















