
<div class="wrapper">
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">
  <div class="row">
    <div class="col-12">
      <!-- <h4>Nav Tabs inside Card Header <small>card-tabs / card-outline-tabs</small></h4> -->
    </div>
  </div>
  <!-- ./row -->
  <div class="row" style="margin-left: 0%;margin-right: 0%; margin-top: 2%;">
    <div class="col-12 col-sm-12">
      <div class="card card-primary card-tabs">
        <div class="card-header p-0 pt-1 pl-1 ">
          <ul class="nav nav-tabs col-md-12" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item col-md-2">
              <a class="nav-link active " style="text-align: center;" id="custom-tabs-one-home-tab" data-toggle="pill"
                href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Basic
                Information</a>
            </li>
            <li class="nav-item col-md-3">
              <a class="nav-link" style="text-align: center;" id="custom-tabs-one-profile-tab" data-toggle="pill"
                href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile"
                aria-selected="false">Personal Information</a>
            </li>
            <li class="nav-item col-md-3">
              <a class="nav-link" style="text-align: center;" id="custom-tabs-one-messages-tab" data-toggle="pill"
                href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages"
                aria-selected="false">Education Qualification</a>
            </li>
            <li class="nav-item col-md-2">
              <a class="nav-link" style="text-align: center;" id="custom-tabs-one-settings-tab" data-toggle="pill"
                href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings"
                aria-selected="false">Work Experience</a>
            </li>
            <li class="nav-item col-md-2">
              <a class="nav-link" style="text-align: center;" id="custom-tabs-one-confirm-tab" data-toggle="pill"
                href="#custom-tabs-one-confirm" role="tab" aria-controls="custom-tabs-one-confirm"
                aria-selected="false">User Confirmation</a>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel"
              aria-labelledby="custom-tabs-one-home-tab">

              <form class="row g-3 pl-5 pr-5 pt-3 pb-3" #formGroup="ngForm"
                (ngSubmit)="formGroup.form.valid && onSubmit(formGroup)">
                <div class="form-group col-md-6">
                  <label for="fullname">First name</label>
                  <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter FirstName"
                    [(ngModel)]="basicInfo.firstName" #firstName="ngModel" required>
                  <span class="text-danger" *ngIf="submit &&  firstName.errors?.['required'] ">
                    Name is required.
                  </span>
                </div>
                <div class="form-group col-md-6">
                  <label for="fullname">Last name</label>
                  <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter LastName"
                    required [(ngModel)]="basicInfo.lastName" #lastName="ngModel">
                  <span class="text-danger" *ngIf="submit &&  lastName.errors?.['required'] ">
                    LastName is required.
                  </span>
                </div>
                <div class="form-group col-md-6">
                  <label for="contact">Contact number</label>
                  <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                    placeholder="Enter Mobile Number" required [(ngModel)]="basicInfo.phoneNumber"
                    #phoneNumber="ngModel">
                  <span class="text-danger" *ngIf="submit && phoneNumber.errors?.['required'] ">
                    PhoneNumber is required.
                  </span>
                </div>
                <div class="form-group col-md-6">
                  <label for="dob">Date of birth</label>
                  <input type="date" class="form-control" name="dob" id="dob" required [(ngModel)]="basicInfo.dob"
                    #dob="ngModel">
                  <span class="text-danger" *ngIf="submit &&  dob.errors?.['required'] ">
                    DOB is required.
                  </span>
                </div>
                <div class="form-group col-md-6">
                  <label for="gender">Gender</label>
                  <select id="gender" name="gender" class="form-control" required [(ngModel)]="basicInfo.gender"
                    (change)="changeGender($event)" #gender="ngModel">
                    <option value="" selected>--Select--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                    <option value="Prefer not to say">Prefer not to say</option>
                  </select>
                  <span class="text-danger" *ngIf="submit &&  gender.errors?.['required'] ">
                    Gender is required.
                  </span>
                </div>

                <div class="form-group col-md-6">
                  <label for="mstatus">Marital status</label>
                  <select id="mstatus" name="mstatus" class="form-control" required
                    [(ngModel)]="basicInfo.maritalStatus" (change)="changeGender($event)" #maritalStatus="ngModel">
                    <option value="" selected>--Select--</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Prefer not to say">Prefer not to say</option>
                  </select>
                  <span class="text-danger" *ngIf="submit &&  maritalStatus.errors?.['required'] ">
                    MaritalStatus is required.
                  </span>
                </div>
                <div class="form-group col-md-6">
                  <label for="photo">Upload photo </label>
                  <input #imageUploader id="picture" name="picture" type="file" accept="image/png ,image/jpeg,image/jpg"
                    class="form-control" required (change)="onFileChanged($event)">
                  <span class="text-danger" *ngIf="submit && imageValid">
                    Picture is required.
                  </span>
                  <div *ngIf="imageURL">
                    <a class="btn-link text-secondary" [href]="imageURL"><i
                        class="far fa-fw fa-file-image"></i>{{imageURLName}}</a>
                    <button class="btn" (click)="resetImageUploader()"><i class="fa fa-close"
                        style="font-size:16px;color:crimson;"></i></button>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="resume">Upload resume </label>
                  <input #fileUploader type="file" id="resume" name="resume"
                    accept="application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    class="form-control" required (change)="onFileChanged($event)">
                  <span class="text-danger" *ngIf="submit &&  fileValid">
                    Resume is required.
                  </span>
                  <div *ngIf="pdfURL">
                    <a class="btn-link text-secondary" [href]="pdfURL"><i
                        class="far fa-fw fa-file-pdf"></i>{{pdfURLName}}</a>
                    <button class="btn" (click)="resetFileUploader()"><i class="fa fa-close"
                        style="font-size:16px;color: crimson;"></i></button>
                  </div>

                </div>


                <div class="button">

                  <input type="submit" class="btn btn-login bg-success bg-gradient  mt-3" value="Save"
                    (click)="submit=true">
                  <!-- <button class="btn btn-success">Save</button> -->
                  <!-- <button class="btn btn-primary ml-2"  routerLink="/personal-information">Next</button> -->

                </div>
              </form>

            </div>

            <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel"
              aria-labelledby="custom-tabs-one-profile-tab">
              <form class="row g-3 pl-5 pr-5 pt-3 pb-3" #formGroup1="ngForm" >
                <div *ngFor="let info of informations; let i= index" class="information row">
                  <div class="col-md-3 form-group info">
                    <label for="info{{i}}">Proof</label>
                    <select id="info{{i}}" name="info{{i}}" class="form-control" [(ngModel)]="info.proof" required>
                      <option value="" selected>--Select--</option>
                      <option value="Aadhar Card">Aadhar Card</option>
                      <option value="Pan Card">Pan Card</option>
                      <option value="Voter Id">Voter ID</option>
                      <option value="Ration Card">Ration Card</option>
                      <option value="Passport">Passport</option>
                      <option value="Licence">License</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3 num">
                    <label for="number{{i}}">Proof Id</label>
                    <input type="text" class="form-control" name="number{{i}}" id="number{{i}}" [(ngModel)]="info.proofId" placeholder="Enter Proof Id" required>
                  </div>
                  <div class="col-md-3 form-group doc">
                    <label for="doc{{i}}">Document</label>
                    <input type="file" id="doc{{i}}"  accept="application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="doc{{i}}" class="form-control" (change)="onFileChanged2($event,i,'informations')" required>
                  </div>
                  <div class="col-md-2 form-group btnr p-3">
                    <button type="button" (click)="removeInformation(i)" class="btn remove-btn btn-danger mt-3">Remove</button>
                  </div>
                </div>
              
                <div class="add-btn-wrapper">
                  <button type="button" class="btn btn-dark add-btn btn btn-success" (click)="addInformation()">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Information
                  </button>
                </div>
                <div class="button">
                  <!--<button class="btn btn-primary">Previous</button> 
                      <button class="btn btn-success">Save</button> 
                      <button class="btn btn-primary">Next</button>-->
                  <!-- <a href="#custom-tabs-one-home" class="btn btn-primary" aria-selected="true" data-toggle="pill">Previous</a> -->
                  <!-- <button class="btn btn-success">Save</button> -->
                  <a href="#custom-tabs-one-messages-tab" class="btn btn-primary ml-2">Next</a>
                  <button class="btn btn-success ml-2" (click)="savePersonalDetails()">Submit</button>    
                </div>
              </form>




            </div>
            <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel"
              aria-labelledby="custom-tabs-one-messages-tab">

              <form class="row g-3 pl-5 pr-5 pt-3 pb-3">

                <div *ngFor="let qualification of qualifications; let i = index" class="qualification row">
                  <div class="col-md-2 form-group qua p-2">
                    <label for="qualification{{i}}">Qualification</label>
                    <select id="qualification{{i}}" [(ngModel)]="qualification.qualification" name="qualification{{i}}"
                      class="form-control" required>
                      <option value="" selected>--Select--</option>
                      <option value="10th Standard">10th Standard</option>
                      <option value="12th standard">12th standard</option>
                      <option value="Diploma">Diploma</option>
                      <option value="UG">UG</option>
                      <option value="PG">PG</option>
                    </select>
                  </div>
                  <div class="col-md-2 form-group spec p-2">
                    <label for="specialization{{i}}">Specialization</label>
                    <input type="text" id="specialization{{i}}" [(ngModel)]="qualification.specialization"
                      name="specialization{{i}}" placeholder="Specialization" class="form-control" required>
                  </div>
                  <div class="col-md-2 form-group aca p-2">
                    <label for="academicyear{{i}}">AcademicYear</label>
                    <input type="text" id="academicyear{{i}}" [(ngModel)]="qualification.academicyear"
                      name="academicyear{{i}}" placeholder="Academic Year" class="form-control" required>
                  </div>
                  <div class="col-md-3 form-group doc p-2">
                    <label for="document{{i}}">Document</label>
                    <input type="file" id="document{{i}}" name="document{{i}}" accept="application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control"  (change)="onFileChanged2($event,i,'qualifications')" required>

                  </div>
                  <div class="col-md-2 form-group btnr p-3">
                    <button (click)="removeQualification(i)" class="btn remove-btn btn-danger mt-4">Remove</button>
                  </div>
                </div>
                <div class="add-btn-wrapper">
                  <button (click)="addQualification()" class="btn btn-success "><i class="fa fa-plus "
                      aria-hidden="true"></i> Add</button>
                </div>
                <div class="button ">
                  <button class="btn btn-primary " (click)="saveQualification()">Save</button>

                  <button class="btn btn-primary  ml-1" routerLink="/work-exp">Next</button>
                </div>

              </form>
            </div>


            <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel"
              aria-labelledby="custom-tabs-one-settings-tab">
              <form class="row g-3 pl-5 pr-5 pt-3 pb-3">
                <!-- Adjust column width as needed -->
                <div *ngFor="let experience of experiences; let i = index" class="experience row">
                  <div class="col-md-3 form-group cn p-2">
                    <label for="company{{i}}">Company Name</label>
                    <input type="text" id="company{{i}}" [(ngModel)]="experience.company" name="company{{i}}"
                      placeholder="Company Name" class="form-control" required>

                  </div>
                  <div class="col-md-2 form-group jd p-2">
                    <label for="joined{{i}}">Joined Date</label>
                    <input type="date" id="joining{{i}}" [(ngModel)]="experience.joined" name="joined{{i}}"
                      placeholder="Joined Date" class="form-control" required>
                  </div>
                  <div class="col-md-2 form-group rd p-2">
                    <label for="releaved{{i}}">Releaved Date</label>
                    <input type="date" id="releaved{{i}}" [(ngModel)]="experience.releaved" name="releaved{{i}}"
                      placeholder="Releaved Date" class="form-control" required>
                  </div>
                  <div class="col-md-2 form-group rd p-2">
                    <label for="ctc{{i}}">CTC</label>
                    <input type="number" id="ctc{{i}}" [(ngModel)]="experience.ctc" name="ctc{{i}}" placeholder="CTC"
                      class="form-control" required>
                  </div>
                  <div class="col-md-3 form-group rd p-2">
                    <label for="reletter{{i}}">Service/Releaved Letter</label>
                    <input type="file" id="reletter{{i}}"  name="reletter{{i}}" (change)="onFileChanged2($event,i,'experiences')"
                      class="form-control" required>
                  </div>
                  <div class="col-md-3 form-group rn ">
                    <label for="reason{{i}}">Reason</label>
                    <input type="text" id="reason{{i}}" [(ngModel)]="experience.reason" name="reason{{i}}"
                      class="form-control" placeholder="Reason" required>
                  </div>
                  <div class="col-md-3 form-group btnr p-2">
                    <button (click)="removeExperience(i)" class="btn btn-danger mt-4 ">
                      Remove</button>
                  </div>
                </div>
                <div class="add-btn-wrapper ">
                  <button (click)="addExperience()" class="add-btn btn btn-success"><i class="fa fa-plus "
                      aria-hidden="true"></i>Add Experience</button>
                </div>
                <div class="button p-2">
                  <!-- <input type="submit" class="btn btn-primary  " routerLink="/edu-qualification"
                                  value="Previous"> -->
                  <input type="submit" class="btn btn-success ml-2 " value="Save" (click)="saveExperience()">
                  <input type="submit" class="btn btn-primary ml-1 " routerLink="/user-confirmation" value="Next">
                </div>

              </form>
            </div>


            <div class="tab-pane fade" id="custom-tabs-one-confirm" role="tabpanel"
              aria-labelledby="custom-tabs-one-confirm-tab">

              <form class="row g-3 pl-5 pr-5 pt-3 pb-3">
                <div class="form-group col-md-6">
                  <label for="gender">Gender</label>
                  <select id="gender" name="gender" class="form-control" required>
                    <option value="Select">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="contact">Email id</label>
                  <input type="text" class="form-control" name="number" id="number" placeholder="Enter email" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="dob">Date</label>
                  <input type="date" class="form-control" name="dor" id="dor" required>
                </div>

                <div class="form-check">
                  <input class="form-check-input ml" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label ml" for="flexCheckDefault">I Accept hereby declare that the information
                    provided is true and correct.</label>
                </div>
                <div class="button">

                  <!-- <button class="btn btn-primary"  routerLink="/work-exp">Previous</button>            -->
                  <!-- <button class="btn btn-success ">Save</button> -->
                  <button class="btn btn-success ml-2">Submit</button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
<app-footer></app-footer>
</div>
