.btn {
   
    margin-right:5px;
    align-items:right;
    text-align: right;
    
    
  }
  .button{
    margin-left: 600px;
    margin-bottom: 20px;
  }
  
  
  .information-form .btnr{
    margin-top: 23px;
    margin-left: 50px;
  }
  .information-form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .information-form .add-btn i{
    margin-right: 5px;
  }
  .btn {
   
    margin-right:5px;
    align-items:right;
    text-align: right;
    
    
  }


  .qualification-form .btnr{
    margin-top: 22px;
    margin-left: 50px;
  }
  .qualification-form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .qualification-form .add-btn i{
    margin-right: 5px;
  }
  .add-btn{ 
    margin-bottom: 20px;
   
}


.experience-form .btnr{
    margin-top: 32px;
    margin-left: 0px;
  }
  .experience-form{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .experience-form .add-btn i{
    margin-right: 5px;
  }
  .para{
    margin-bottom: 50 px;
    margin-left:20 px;
    font-size:medium;
    
}
.btn {
   
    margin-right:5px;
    align-items:right;
    text-align: right;
    margin-bottom:50 px;
    
    
  }
  
  .form-check-input[type="checkbox"] {
    width: 16px; /* Adjust as needed */
    height:20px; /* Adjust as needed */
    
    border-color: black;
}
.form-check-label{
    margin-right:20px;
    margin-left: 20px;
    margin-top: 40 px;
    margin-bottom: 40 px;

    
}
.form-check-input{
    margin-left: 20px;
}
#flexCheckDefault{
    margin-left: 0px;
}
  