
.btn {
   
    margin-right:5px;
    align-items:right;
    text-align: right;
    
    
  }
  .button{
   margin-bottom: 1%;
   margin-left: 80%;
  }


  .condition-form .btnr{
    margin-top: 24px;
    margin-left: 0px;
  }
  .condition-form {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .condition-form .add-btn i{
    margin-right: 5px;
    
  }
  