<div class="wrapper">
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Attendance List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"><a href="#" routerLink="/attendance">Attendance</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- <section>
        <div class="myconter">
            <div>
                <button type="button" class="btn btn-primary mb-2 ml-2">
                    New invoice
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-dark mb-2 ml-2">
                    Add Products
                </button>
            </div>
            <div>
                <input type="submit" class="btn btn-primary"  value="Add Customer"   >
            </div>
        </div>
    </section> -->
    <section class="content">
        <div class="container-fluid  shadow-lg p-3 mb-5 bg-body rounded">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                <h3 class="card-title" *ngIf="this.loginService.roleMatch(['Super Admin','Admin','HR'])">Attendance</h3>
                <div class="d-flex align-items-center" *ngIf="!this.loginService.roleMatch(['Super Admin','Admin','HR'])">
                    <ul class="nav nav-pills d-flex align-items-center mb-0">
                        <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Active</a></li>
                        <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">History</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li> -->
                    </ul>
                </div>
                <div class="input-group input-group-sm ml-auto" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control" placeholder="Search" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div><!-- /.card-header -->
              <div class="card-body col-sm-6 col-md-12 "  style="overflow-x: auto">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity" role="tabpanel">
                    <table class="table table-hover text-nowrap" >
                      <thead>
                      <tr>
                          <th scope="col">S.No</th>
                          <th scope="col">Employee Name</th>
                        
                          <th scope="col">Date</th>
                          <th scope="col">InTime</th>
                          <th scope="col">OutTime</th>
                          <th scope="col">TotalHours</th>
                          <th scope="col">Status</th>
                          <th scope="col" *ngIf="this.loginService.roleMatch(['Super Admin','Admin','HR'])">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngIf="this.loginService.roleMatch(['Super Admin','Admin','HR']);then allDetails;else userOnly">
                  
                        </ng-container>
                    
                        <ng-template #allDetails>
                          <tr *ngFor="let attendancelist of allAttendancelist | paginate: { itemsPerPage: 5, currentPage: currentPage };let i=index;">
                            <td>{{i+1}}</td>
                            <td>{{attendancelist.userName}}</td>
                            <td>{{attendancelist.attendance[attendancelist.attendance.length-1].date}}</td>
                            <td>{{attendancelist.attendance[attendancelist.attendance.length-1].inTime}}</td>
                            <td>{{attendancelist.attendance[attendancelist.attendance.length-1].outTime}}</td>
                            <td>{{attendancelist.attendance[attendancelist.attendance.length-1].totalHours}}</td>
                            <td>{{attendancelist.attendance[attendancelist.attendance.length-1].status}}</td>
                            <td class="d-flex align-items-center ">
                                <a  href="#timeline" data-toggle="tab" class="nav-link btn btn-info" (click)="getAttendceById(attendancelist.id)"><i class="fas fa-eye" ></i></a>
                                <a class="nav-link btn btn-danger ml-2" href="#" data-toggle="modal" data-target="#delete-attendance" (click)="deleteCall(attendancelist.id)" ><i class="fa fa-trash"></i></a> 
                              </td>
                          </tr>
                        </ng-template>
                        <ng-template #userOnly>
                          <tr>
                            <td>{{1}}</td>
                            <td>{{attendance.userName}}</td>
                            <td>{{attendance.attendance[attendance.attendance.length-1].date}}</td>
                            <td>{{attendance.attendance[attendance.attendance.length-1].inTime}}</td>
                            <td>{{attendance.attendance[attendance.attendance.length-1].outTime}}</td>
                            <td>{{attendance.attendance[attendance.attendance.length-1].totalHours}}</td>
                            <td>{{attendance.attendance[attendance.attendance.length-1].status}}</td>
                          </tr>
                        </ng-template>
                  
                      </tbody>
                      </table>
            
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="timeline" role="tabpanel">
                    <table class="table table-hover text-nowrap" >
                      <thead>
                      <tr>
                          <th scope="col">S.No</th>
                          <!-- <th scope="col">Employee Name</th> -->
                          <th scope="col">Date</th>
                          <th scope="col">InTime</th>
                          <th scope="col">OutTime</th>
                          <th scope="col">TotalHours</th>
                          <th scope="col">Status</th>
                      </tr>
                      </thead>
                      <tbody>
                        
                        
                       

                        
                          <tr *ngFor="let userAttendance of attendance.attendance | paginate: { itemsPerPage: 5, currentPage: currentPage } ;let i=index;">
                            <td>{{i+1}}</td>
                            <!-- <td>{{attendance.userName}}</td> -->
                            <td>{{userAttendance.date}}</td>
                            <td>{{userAttendance.inTime}}</td>
                            <td>{{userAttendance.outTime}}</td>
                            <td>{{userAttendance.totalHours}}</td>
                            <td>{{userAttendance.status}}</td>
                          </tr>
                        
                       
                      </tbody>
                      </table>
                     
                      <div class="" *ngIf="this.loginService.roleMatch(['Super Admin','Admin','HR'])">
                        <a class="btn btn-primary "href="/attendancelist"   role="button">Previous</a>
                
                    </div>
                    
                  </div>
                  <!-- /.tab-pane -->
        
                  <div class="tab-pane" id="settings">
                    <!-- <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputName" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputName2" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                      </div>
                    </form> -->
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <pagination-controls class="float-right" (pageChange)="currentPage = $event" ></pagination-controls>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
              
            </div>
            <!-- /.card -->
          
          </div>
        </div>
      
      </section>
      <div id="delete-attendance" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">   
                <div class="modal-body p-0">
                    <div class="card border-0 p-sm-3 p-2 justify-content-center">
                        <div class="card-header pb-0 bg-white border-0 "><div class="row"><div class="col ml-auto"><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div> </div>
                        <p class="font-weight-bold mb-2"> Are you sure you wanna delete this ?</p><p class="text-muted "> This user data will be deleted permenantly.</p>     </div>
                        <div class="card-body px-sm-4 mb-2 pt-1 pb-0"> 
                            <div class="row justify-content-end no-gutters"><div class="col-auto"><button type="button" class="btn btn-light text-muted" data-dismiss="modal">Cancel</button></div><div class="col-auto"><button type="button" class="btn btn-danger px-4" data-dismiss="modal" (click)="deleteAttendance()">Delete</button></div></div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
      </div>
</div>